@{
    ViewData["Title"] = "Москва";
}

<div class="img-container my-5">
    <img class="city-main-img" src="/Image/Moscow.png" />
    <div class="mx-5">
        <h1 class="kiwi-maru-regular text-center my-5">Немного из истории</h1>
        <p>
            Первое упоминание о городе в летописях относится к 1147 году. Первоначально Москва была деревянной. 
            В ходе междоусобных войн осенью 1176 года её сожгли вместе с окрестными сёлами, но впоследствии город был восстановлен. 
            Московское княжество образовалось в 1263 году. Оно сначала включало только сам город и его окрестности.
        </p>
        <p>
            В XIV — начале XV веков Москва являлась крупным торговым и ремесленным городом. В это время она состояла из Кремля, Китай-города и некоторых сёл.
        </p>
        <p>
            Столицей Русского государства Москва стала в конце XV века при Иване III Васильевиче. Новый статус способствовал экономическому развитию города. 
            Его размеры постепенно увеличивались. В 1712 году столица была перенесена в Санкт-Петербург.
        </p>
        <p>
            В 1918 году Москва стала столицей РСФСР, в 1922 году — столицей СССР.
        </p>
    </div>
</div>
<div class="items py-5 text-center">
    <div class="item-center">
        <h2 class="kiwi-maru-regular text-center">
            Куда сходить
        </h2>
    </div>
    <div class="item">
        <a asp-controller="Moscow" asp-action="RedSquare">
            <img src="~/Image/Red Square.png" alt="Красная площадь">
            <div class="centered">Красная площадь</div>
            <span class="bottom-right badge bg-success rounded-pill">4.0</span>
        </a>
    </div>
    <div class="item">
        <a href="#">
            <img src="~/Image/Bolshoi Theater.png" alt="Большой театр">
            <div class="centered">Большой театр</div>
            <span class="bottom-right badge bg-success rounded-pill">4.0</span>
        </a>
    </div>
    <div class="item">
        <a href="#">
            <img src="~/Image/VDNH.png" alt="ВДНХ">
            <div class="centered">ВДНХ</div>
            <span class="bottom-right badge bg-success rounded-pill">4.0</span>
        </a>
    </div>
    <div class="item">
        <a href="#">
            <img src="~/Image/Moscow City.png" alt="Москва Сити">
            <div class="centered">Москва Сити</div>
            <span class="bottom-right badge bg-success rounded-pill">4.0</span>
        </a>
    </div>
    <div class="item">
        <a href="#">
            <img src="~/Image/Zoo.png" alt="Московский зоопарк">
            <div class="centered">Московский зоопарк</div>
            <span class="bottom-right badge bg-success rounded-pill">4.0</span>
        </a>
    </div>
    <div class="item">
        <a href="#">
            <img src="~/Image/Metro.png" alt="Московское метро">
            <div class="centered">Московское метро</div>
            <span class="bottom-right badge bg-success rounded-pill">4.0</span>
        </a>
    </div>
</div>
