@{
    ViewData["Title"] = "Эрмитаж";
}
<div class="img-container my-5">
    <img class="city-main-img" src="/Image/ermitazh-top.png" />
    <div class="mx-5">
        <h2 class="kiwi-maru-regular text-center my-5">Немного из истории</h2>
        <p>
            Эрмитаж - один из крупнейших и наиболее значимых художественных и
            культурно-исторических музеев мира, расположенный в самом сердце
            Санкт-Петербурга, городе на Неве. <br>
            <br>
            Основанный в 1764 году, Эрмитаж представляет собой обширное собрание
            бесценных произведений искусства, исторических и археологических экспонатов,
            охватывающих тысячелетия человеческой истории.
        </p>
        <h2 class="kiwi-maru-regular text-center my-5">Время работы</h2>
        <p>
            Среда, четверг, воскресенье<br>
            11:00 – 18:00 Последний сеанс: 16:00<br>
            Вторник, пятница, суббота<br>
            11:00 – 20:00 Последний сеанс: 18:00
        </p>
        <div class="btn-container">
            <a href="https://tickets.hermitagemuseum.org/?id=3&sid=1" class="btn btn-2">Купить билет</a>
        </div>
    </div>
</div>
<div class="items py-5 text-center">
    <div class="item-center">
        <h2 class="kiwi-maru-regular text-center">
            Фотографии
        </h2>
    </div>
    <div class="item-foto-n-h">
        <img src="~/Image/ermitazh1.png" alt="Эрмитаж 1">
    </div>
    <div class="item-foto-n-h">
        <img src="~/Image/ermitazh2.png" alt="Эрмитаж 2">
    </div>
    <div class="item-foto-n-h">
        <img src="~/Image/ermitazh3.png" alt="Эрмитаж 3">
    </div>
    <div class="item-foto-n-h">
        <img src="~/Image/ermitazh4.png" alt="Эрмитаж 4">
    </div>
    <div class="item-foto-n-h">
        <img src="~/Image/ermitazh5.png" alt="Эрмитаж 5">
    </div>
    <div class="item-foto-n-h">
        <img src="~/Image/ermitazh6.png" alt="Эрмитаж 6">
    </div>
</div>
<div class="img-container mb-5">
    <div class="mx-5">
        <h2 class="kiwi-maru-regular text-center my-5">Отзывы</h2>
        
        
        <form class="form-reviews" action="/" method="post">
            <div class="form-group">
                <br><label>Представтесь</label></br>
                <input class="mb-2" name="UserName" type="text"/>
                <textarea class="form-control" placeholder="Ваш отзыв" name="TextMessage"></textarea>
                <div class="stars">
                    <div class="star-group">
                        <input type="radio" class="star" id="one" value="1" name="star_rating" checked>
                        <input type="radio" class="star" id="two" value="2" name="star_rating">
                        <input type="radio" class="star" id="three" value="3" name="star_rating">
                        <input type="radio" class="star" id="four" value="4" name="star_rating">
                        <input type="radio" class="star" id="five" value="5" name="star_rating">
                    </div>
                </div>
                <button class="btn-container btn btn-2" type="submit" >
                    Отправить
                </button>
            </div>
        </form>
        
    </div>
</div>
