@{
    ViewData["Title"] = "Санкт-Петербург";
}

<div class="img-container my-5">
    <img class="city-main-img" src="/Image/Petersburg.png" />
    <div class="mx-5">
        <h1 class="kiwi-maru-regular text-center my-5">Немного из истории</h1>
        <p>
            Санкт-Петербург - это город, расположенный на северо-западе России, на побережье Финского залива. Это один из крупнейших городов страны, с населением более 5 миллионов человек. Санкт-Петербург был основан в 1703 году Петром I и стал столицей Российской империи в 1712 году. За свою историю город пережил множество событий, включая две мировые войны и блокаду во время Второй мировой войны.
        </p>
        <p>
            Сегодня Санкт-Петербург является одним из важнейших культурных, образовательных и научных центров России. В городе расположено множество музеев, театров, парков и других достопримечательностей. Среди них - Эрмитаж, Русский музей, Мариинский театр, Исаакиевский собор, Невский проспект и многие другие.
        </p>
        <p>
            Также Санкт-Петербург известен своими белыми ночами, когда ночь превращается в сумерки на протяжении нескольких недель в июне. Это время года привлекает множество туристов, чтобы увидеть это уникальное явление.
        </p>
    </div>
</div>
<div class="items py-5 text-center">
    <div class="item-center">
        <h2 class="kiwi-maru-regular text-center">
            Куда сходить
        </h2>
    </div>
    <div class="item">
        <a asp-controller="SaintPetersburg" asp-action="Hermitage">
            <img src="~/Image/zimny.png" alt="Зимний дворец">
            <div class="centered">Зимний дворец</div>
            <span class="bottom-right badge bg-success rounded-pill">4.0</span>
        </a>
    </div>
    <div class="item">
        <a asp-controller="SaintPetersburg" asp-action="IsaacCathedral">
            <img src="~/Image/isakiy.png" alt="Исаакиевский собор">
            <div class="centered">Исаакиевский собор</div>
            <span class="bottom-right badge bg-success rounded-pill">4.0</span>
        </a>
    </div>
    <div class="item">
        <a asp-controller="SaintPetersburg" asp-action="PeterPavelFortress">
            <img src="~/Image/petropavlovskaya.png" alt="Петропавловская крепость">
            <div class="centered">Петропавловская крепость</div>
            <span class="bottom-right badge bg-success rounded-pill">4.0</span>
        </a>
    </div>
    <div class="item">
        <a href="#">
            <img src="~/Image/smolniy.png" alt="Смольный собор">
            <div class="centered">Смольный собор</div>
            <span class="bottom-right badge bg-success rounded-pill">4.0</span>
        </a>
    </div>
    <div class="item">
        <a href="#">
            <img src="~/Image/zinger.png" alt="Дом Зингера">
            <div class="centered">Дом Зингера</div>
            <span class="bottom-right badge bg-success rounded-pill">4.0</span>
        </a>
    </div>
    <div class="item">
        <a href="#">
            <img src="~/Image/avrora.png" alt="Крейсер Аврора">
            <div class="centered">Крейсер Аврора</div>
            <span class="bottom-right badge bg-success rounded-pill">4.0</span>
        </a>
    </div>
</div>
