@{
    ViewData["Title"] = "Задание";
}
<div class="m-4 pb-4">
    <h1>@ViewData["Title"]</h1>
    <p>
        По итогам прохождения семестра студенты разрабатывают 
        веб-приложение, которое будет являться их семестровой 
        работой по данной дисциплине. Тема у каждого студента 
        индивидуальна, допускаются групповые проекты для сложных 
        тем. Требования к каждой теме обговариваются и устанавливаются 
        индивидуально.
    </p>
    <p>
        Общие требования к работам:
    </p>
    <ol class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Веб-приложение должно быть разработано с использованием,
            как минимум, HTML, CSS и JavaScript.
            <span class="badge bg-success rounded-pill bg-opacity-25">✔</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Приложение должно содержать минимум 3 страницы
            с различным наполнением по функционалу (например, 
            главная страница и страница контактов, 2 страницы
            с разными каталогами товаров не считаются разными, 
            так как их функция в контексте работы одинакова).
            <span class="badge bg-success rounded-pill bg-opacity-25">✔</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Приложение должно эффективно использовать элементы
            адаптивного дизайна (подстраиваться под 3 основных 
            класса размеров окон), иконок для окон, логотипов, 
            боковой панели, header и footer части сайта.
            <span class="badge bg-success rounded-pill bg-opacity-25">✔</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Приложение должно быть развернуто на локальном
            сервере, например, одним из изученных в семестре 
            способом.
            <span class="badge bg-success rounded-pill bg-opacity-25">✔</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Приложение должно уметь подтягивать данные (имитировать
            работу базы данных) для внутреннего использования и 
            отображения элементов.
            <span class="badge bg-success rounded-pill bg-opacity-25">✔</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">Для всех страниц веб-приложения должна быть настроена 
            корректная маршрутизация, в том числе обработка ошибки 
            обращения к несуществующему ресурсу (404 ошибка сервера).
            <span class="badge bg-success rounded-pill bg-opacity-25">✔</span>
        </li>
    </ol>
    <p>
        Также необходимо подготовить файл презентации продукта:
    </p>
    <ul>
        <li>
            титульный лист с названием веб-приложения;
        </li>
        <li>
            описание страниц со скриншотами;
        </li>
        <li>
            тестирование (представление работы).
        </li>
    </ul>
</div>